@import url(//fonts.googleapis.com/css?family=Open+Sans);
.conteudo-faq-texto-titulo-subtitulo {
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }
  
  .conteudo-faq-texto-titulo-subtitulo h1 {
    font-size: 30px;
  }
  .conteudo-faq-texto-lado h2 {
    font-family: 'Poppins', sans-serif;
  }
  
  .conteudo-faq-texto2 {
    background-color: #087a1b;
  }
  
  .accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    gap: 180px;
  }
  .accordion-item {
    background-color: rgb(54, 189, 54);
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  }
  .accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-radius: 0.5rem;
  }
  .accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
  }
  .accordion-item-header.active2::after {
    content: "\2212";
  }
  
  
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #000, transparent) 1;
  }
  
  .conteudo-botao-faq {
    display: block;
    background-color: #0f130c;
    width: 100px;
    height: 30px;
    border: none;
    box-shadow: 4px 5px 4px rgba(19, 16, 16, 0.25);
    border-radius: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: #fff;
    margin: 10px 0 0 0;
    cursor: pointer;
  }
  
  @media(max-width:767px) {
    html {
      font-size: 14px;
    }
  }
  
  .pag-conteudo-titulo-faq hr {
    text-align: center;
    left: 100%;
    width: 8%;
    height: 4px;
    border: 0px;
    border-top: 1px solid  #32A041;
    background-color:  #32A041;
    margin: 0 600px;
 
  }
  
  .pag-conteudo-titulo-faq {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 30px;
    color: #000000;
    text-align: center;
    margin: /*250px*/ 30px 0 10px 0;
    padding: 0 190px;
  }
  
  .pag-conteudo-faq {
    text-align: justify;
    align-items: center;
  }
  
  .pag-img-comp-faq img{
    padding: 1% 0 1% 0;
  }
  
  .pag-img-faq {
    text-align: center;
    padding: 2% 0;
  }
  
  .pag-img-faq img {
    padding: 3% 0 1% 0;
  }
  
  .pag-conteudo-texto-faq {
    align-items: center;
    padding: 3% 20% 0 20%;
    margin: 0 0 5% 0;
  }
  
  .pag-conteudo-texto-faq h2 {
    font-family: 'Poppins', sans-serif;
    padding: 1% 1% 2%;
  }
  
  .pag-conteudo-texto-faq h3 {
    font-family: 'Nunito', sans-serif;
  }
  
  .pag-conteudo-texto-faq h4 {
    font-family: 'Nunito', sans-serif;
    
    font-weight: bold;
  }
  
  .pag-conteudo-footer-faq {
    margin: 0;
    text-align: center;
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #000000;
    padding: 20px 0 20px 0;
  }
  
  .pag-conteudo-footer-faq h2 {
    padding: 15px 0 0 0;
  }
  .contex {
    font-family: 'Nunito', sans-serif;
    
    font-weight: bold;
  }




/* 
  #####################
  #######################
  ########################## */


  .tittleexperi{
    font-size: 100%;
  }
  .contexcod{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    background-color: rgb(217, 218, 228);
  }

  .exper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
  }
  
  .exper a {
    font-family: 'Nunito', sans-serif;
  }

.tituloex{
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 30px;
  color: #000000;
  text-align: center;
  margin: /*250px*/ 30px 0 10px 0;
  padding: 0 190px;
}

.tituloex hr {


  text-align: center;
  left: 100%;
  width: 37%;
  height: 4px;
  border: 0px;
  border-top: 1px solid #32A041;
  background-color: #32A041;
  margin: 0 310px;
}

.prox{
  margin-left: 78%;
  font-size: 120%;

}

/* *****************************************************
*********************************************************
*********************************************************
********************************************************** */


.cardexperimentos {
  margin: 5px 20px;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
    
  font-weight: bold;
 

}




.timeline {
  list-style: none;
  padding: 10px 0;
  position: relative;
  font-weight: 300;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content:" ";
  width: 2px;
  background:#095a17;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
  width: 50%;
  float: left;
  clear: left;
}
.timeline > li:before, .timeline > li:after {
  content:" ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before, .timeline > li:after {
  content:" ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: calc(100% - 25px);
  width: -moz-calc(100% - 25px);
  width: -webkit-calc(100% - 25px);
  float: left;
  /* border: 1px solid #dcdcdc; */
  background: #ffffff;
  position: relative;
}

.timeline > li > .timeline-badge {
  color: #ffffff;
  width: 24px;
  height: 24px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 16px;
  right: -12px;
  z-index: 100;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge > a {
  color: #ffffff !important;
}
.timeline-badge a:hover {
  color: #dcdcdc !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
/* .timeline-heading h4 {
  font-weight: 400;
  padding: 8px 15px;
  color: #fff;
  background-color:#20bd3a;
  text-align: center;
} */
.timeline-body > p, .timeline-body > ul {
  /* padding: 10px 15px; */
  margin-bottom: 0;
  background-color: #20bd3a;
  padding-bottom: 4%;
  text-align: center;
  color: #ffffff;

}
.timeline-footer {
  padding: 11px 2px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 2%;
  text-align: justify;
}
.timeline-footer p { margin-bottom: 0; }
.timeline-footer > a {
  cursor: pointer;
  text-decoration: none;
}

.timeline > li.timeline-inverted {
  float: right;
  clear: right;
}

.timeline > li.timeline-inverted > .timeline-badge {
  left: -12px;
}
.no-float {
  float: none !important;
}
@media (max-width: 767px) {
  ul.timeline:before {
      left: 40px;
  }
  ul.timeline > li {
      margin-bottom: 0px;
      position: relative;
      width:100%;
      float: left;
      clear: left;
  }
  ul.timeline > li > .timeline-panel {
      width: calc(100% - 65px);
      width: -moz-calc(100% - 65px);
      width: -webkit-calc(100% - 65px);
  }
  ul.timeline > li > .timeline-badge {
      left: 28px;
      margin-left: 0;
      top: 16px;
  }
  ul.timeline > li > .timeline-panel {
      float: right;
  }
  ul.timeline > li > .timeline-panel:before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto;
  }
  ul.timeline > li > .timeline-panel:after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto;
  }
  .timeline > li.timeline-inverted {
      float: left;
      clear: left;
      margin-top: 30px;
      margin-bottom: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-badge {
      left: 28px;
  }
}