@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins:wght@200;300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: #108f25;

}

.cabecalho-imagem {
  height: 45px;
  padding: 0 0 0 25px;
}

.cabecalho-menu {
  display: flex;
  gap: 50px;
  padding: 0 0 0 56px;
}

.cabecalho-menu-item {
  font-family: 'Nunito', sans-serif;
  margin-block: 2px;
  text-decoration: none;
  color: #FFF2E7;
  position: relative;

}

.cabecalho-menu-item::after{
    
  content: '';
  width: 100%;
  height: 1px;
  background-color:#FFF;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .25s ease;
}

.cabecalho-menu-item:hover::after {
  transform: scaleX(1);
}

.conteudo {
  margin-bottom: 20px;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(68.15deg, #35a347 16.62%, #095a17 85.61%);
  padding-bottom: 40px;
  padding-top: 30px;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
  }

.conteudo-principal-escrito-titulo {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #FFF2E7;
}

.conteudo-principal-escrito-subtitulo {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #ECD6C4;
}

.conteudo-principal-escrito-botao {
  background-color: #ECD6C4;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(19, 16, 16, 0.25);
  border-radius: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: #1a1a1a;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(142, 255, 147, 0.53);
}

.conteudo-principal-imagem {
  height: 350px;
}