@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins:wght@200;300;400;500;700&display=swap');

@media (max-width: 900px) {
  .cabecalho-menu {
    display: none;
  }

  .one,
  .two,
  .three {
        background-color: #000;
        height: 5px;
        width: 100%;
        margin: 6px auto;

        transition-duration: 0.3s;
    }

    .menu-toggle {
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }

    /* fullscreen */
    .menu-section.on {
        position: absolute;
        top:100%;
        left:0;

        width: 100vw;
        height: 100vh;

        background-color: #0c8520;
        
        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-section.on nav {
        display: block;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
        right: 25px;
        top: 15px;
    }

    .menu-section.on .menu-toggle .one {
        transform: rotate(40deg) translate(7px, 7px);
    }

    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three {
        transform: rotate(-40deg) translate(8px, -9px);
    }

    .menu-section.on nav  {
        text-align: center;
        display: block;
    }

    .menu-section.on nav a {
        transition-duration: 0.5s;
        font-size: 2rem;
        line-height: 4rem;
        display: block;
        
    }

}

@media (max-width: 800px) {
  .conteudo-principal-escrito {
    display: block;
  }

  .conteudo-principal-escrito-titulo {
    font-size: 30px;
  }

  .conteudo-principal-escrito-subtitulo {
    font-size: 20px;
  }

  .conteudo-principal-escrito-botao {
    width: 180px;
    height: 40px;
    font-size: 18px;
  }

  .conteudo-principal-imagem {
    display: block;
    padding: 10% 0 0 0;
  }

  .conteudo-principal {
    flex-direction: column;
    padding: 5% 0 10%;
  }

  .conteudo-ifmaker {
    display: block;
    justify-content: center;
    padding: 0 0 20% 0;
  }

  .conteudo-titulo-ifmaker {
    margin-top: 20%;
  }

  .conteudo-texto-ifmaker {
    margin: 0 10% 8% 10%;
  }

  .conteudo-titulo-ifmaker hr {
    display: none;
  }

  .conteudo-texto-ifmaker h5 {
    text-align: center;
    padding: 0 0 3% 0;
  }

  .modal-content img {
    width: 650px;
    height: 350px;
}


}

@media (max-width: 700px) {
  .exp {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8% 0 8% 0;
  }

  .ex {
    width: 80%;
    margin: 0 0 8% 10%;
  }

  .conteudo-subtitulo-experimentos-1 {
    font-size: 25px;
  }

  #card-delete {
    display: none;
  }

  #card-delete2 {
    display: none;
  }


}

@media (max-width: 1450px) { 
  .test2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .test {
    margin: 0 0 8% 10%;
    width: 80%;
    background: linear-gradient(to bottom, #20bd3a  32%, #20bd3a  45%, rgb(235, 225, 225) 31%, rgb(235, 225, 225) 100%);
  }

  #line-tes {
    display: none;
  }

}

@media (max-width: 1220px) and (min-width: 700px) {
  .conteudo-principal-escrito {
    display: block;
  }

  .conteudo-principal-escrito-titulo {
    font-size: 30px;
  }

  .conteudo-principal-escrito-subtitulo {
    font-size: 20px;
  }

  .conteudo-principal-escrito-botao {
    width: 180px;
    height: 40px;
    font-size: 18px;
  }

  .conteudo-principal-imagem {
    display: block;
    padding: 10% 0 0 0;
  }

  .conteudo-principal {
    flex-direction: column;
    padding: 5% 0 10%;
  }

  .conteudo-ifmaker {
    display: block;
    justify-content: center;
    padding: 0 0 10% 0;
  }

  .conteudo-titulo-ifmaker {
    margin-top: 20%;
  }

  .conteudo-texto-ifmaker {
    margin: 0 10% 8% 10%;
  }

  .conteudo-titulo-ifmaker hr {
    display: none;
  }

  .conteudo-texto-ifmaker h5 {
    text-align: center;
    padding: 0 0 3% 0;
    width: 100%;
  }

  .conteudo-texto-ifmaker {
    font-family: 'Nunito', sans-serif;
    text-align: justify;
    display: block;
    padding: 20px 25px 0 25px;
    margin: 0 10% 8% 10%;
  }

  .conteudo-img-ifmaker-exp img {
    flex-direction: row;
    display: flex;
    padding: 5% 0 5% 0;
    border-left: none;
  }
  
  .conteudo-img-ifmaker-exp {
    padding: 0 100px 0 30%;
    gap: 8%
  }
  .conteudo-img-ifmaker {
    justify-content: center
  }
  .conteudo-img-ifmaker-lab img {
    flex-direction: column;
    display: flex;
    margin: 0 20% 0 0%;
    padding: 5% 0 5% 0;
    border-left: none;
  }

  .modal-content img {
    width: 800px;
    height: 500px;
    margin: 0 10% 0 10%;
}

  .conteudo-subtitulo-janela-modal {
  padding: 0 0 0 12%;
  }

 .conteudo-titulo-ifmaker {
    margin-top: 20%;
  }

  .conteudo-texto-ifmaker {
    margin: 0 10% 8% 10%;
  }

  .conteudo-titulo-ifmaker hr {
    display: none;
  }

  .conteudo-texto-ifmaker h5 {
    text-align: center;
    padding: 0 0 3% 0;
  }

}


@media (max-width: 330px) {
  .cabecalho-imagem {
    padding: 0 5% 0 0;
  }

}
