@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins:wght@200;300;400;500;700&display=swap');

:root {
  --primary-color: #010712;
  --secondary-color: #ffffff;
  --bg-color: #20bd3a ;
  --button-color: #3B3636;
  --h1-color: #3F444C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  overflow-x: hidden;

}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: #0c8520;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.cabecalho-imagem {
  height: 45px;
  padding: 0 0 0 25px;
}

.cabecalho-menu {
  display: flex;
  gap: 50px;
  padding: 0 0 0 56px;
}

.cabecalho-menu-item {
  font-family: 'Nunito', sans-serif;
  margin-block: 2px;
  text-decoration: none;
  color: #FFF2E7;
  position: relative;

}

.cabecalho-menu-item::after{
  content: '';
  width: 100%;
  height: 1px;
  background-color:#FFF;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .25s ease;
}

.cabecalho-menu-item:hover::after {
  transform: scaleX(1);
}

.conteudo {
  padding-top: 65px;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 250px;
  padding-top: 30px;
  background: linear-gradient(68.15deg, #35a347 16.62%, #095a17 85.61%);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  margin-bottom: -10vw;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  }

.conteudo-principal-escrito-titulo {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #ffffff;
}

.conteudo-principal-escrito-subtitulo {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #fdf6ef;
}

.conteudo-principal-escrito-botao {
  background-color: #fffcf9;
  width: 280px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(19, 16, 16, 0.25);
  border-radius: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: #1a1a1a;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(1, 231, 13, 0.801);
  cursor: pointer;
}

.icon {
  display: flex;
  font-size: 44px;
  animation: float 5s ease-in-out infinite;
}

.conteudo-principal-imagem {
  height: 350px;
  animation-delay: 1s;
}

@keyframes float {
  0%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(-15px);
  }
  100%{
      transform: translateY(0);
  }
}

.conteudo-ifmaker {
  padding: 40px 0 140px 0;
  display: flex;
  justify-content: space-around;
}

.conteudo-titulo-ifmaker hr {
  text-align: center;
  left: 100%;
  width: 8%;
  height: 4px;
  border: 0px;
  border-top: 1px solid  #32A041;
  background-color:  #32A041;
  margin: 0 600px;
}

.conteudo-titulo-ifmaker {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 30px;
  color: #000000;
  text-align: center;
  margin: 250px 0 10px 0;
  padding: 0 190px;
}

.conteudo-titulo-ifmaker span:hover {
  color:  #32A041;
}

.conteudo-texto-ifmaker {
  font-family: 'Nunito', sans-serif;
  text-align: justify;
  display: flex;
  padding: 20px 25px 0 25px;
  margin: 20px 0 0 200px;
  background: linear-gradient(68.15deg, #19ad32 16.62%, #22af3a 85.61%);
  border-radius: 20px;
  box-shadow: -5px 7px 15px -7px #292c28;
}

.conteudo-texto-ifmaker h5 {
  padding: 0 4px;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 508px;
}

.conteudo-titulo-img-ifmaker {
  text-align: right;
  font-family: 'Poppins', sans-serif;
  padding: -43px 50px 0 0;
  height: 30px;
}

.conteudo-titulo-img-ifmaker h1 {
  margin: 10 0 0 0;
}

.conteudo-img-ifmaker {
  display: flex;
  flex-direction: row;
}

.conteudo-img-ifmaker-lab {
  flex-direction: column;
  gap: 38px;
  padding: 0 0 0 100px;
}

.conteudo-img-ifmaker-lab img {
  height: 150px;
  width: 200px;
  cursor: pointer;
  border-left:  #32A041 solid 5px;
  padding: 0 0 0 8px;
  border-radius: 2px;
}

.conteudo-img-ifmaker-exp {
  flex-direction: column;
  gap: 32px;
  padding: 0 100px 0 10px;
}

.conteudo-img-ifmaker-exp img {
  height: 150px;
  width: 200px;
  cursor: pointer;
  border-left: #109727 solid 5px;
  padding: 0 0 0 8px;
  border-radius: 2px;
}

.modal {
  font-family: 'Poppins', sans-serif;
  z-index:5;
  position: fixed;
  top:0;
  left:0;
  padding:0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0.25s ease-in-out , opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.modal-content {
  padding: 16px 24px;
  width: 1050px;
  border-radius: 0.5rem;
}

.modal-content img {
  width: 900px;
  height: 600px;
  border-radius: 5px;
}

.close-button {
 float: right;
 width: 24px;
 line-height: 24px;
 /* margin: -20px 0 0 0; */
 text-align: center;
 cursor: pointer;
 border-radius: 0.25rem;
 background-color: lightgray;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
}

.conteudo-titulo-janela-modal {
  text-align: center;
  margin: 15px 0 0 0;
  font-weight: 800;
  font-size: 20px;
}

.conteudo-subtitulo-janela-modal {
  padding: 0 0 0 18px;
  font-weight: 400;
}

.conteudo-equipe {
  margin: 130px 0 50px 0;
}

.conteudo-equipe hr {
  text-align: center;
  left: 800%;
  width: 20%;
  height: 4px;
  border: 0px;
  border-top: 1px solid #27aa3d;
  background-color: #27aa3d;
  margin: 0 670px;
}

.conteudo-titulo-quipe-1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #000000;
  text-align: center;
}

.conteudo-titulo-quipe-2  {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: #19ad32;
    text-align: center;
}

.conteudo-subtitulo-quipe-1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 25px;
  color: #000000;
  text-align: center;
  padding: 20px 0 0 0;
}

.conteudo-subtitulo-quipe-1 span:hover {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 25px;
  color: #19ad32;
  text-align: center;
  padding: 20px 0 0 0;
}

.conteudo-card-equipe {
  font-family: 'Nunito', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 100px;
  text-align: center;
  margin: 0 0 50px 0;
}

.conteudo-card-equipe2 {
  font-family: 'Nunito', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 100px;
  text-align: center;
  margin: 0 0 50px 0;
}

.conteudo-card-equipe-uni {
  flex-direction: column;
  background: linear-gradient(68.15deg, #29c53c 16.62%, #20bd3a 85.61%);
  box-shadow: -5px 5px 10px -7px #292c28;
  padding: 40px 20px 40px 20px;
  width: 320px;
  font-weight: 800;
}

.conteudo-card-equipe-uni img {
  padding: 0 0 10px 0;
}

.conteudo-card-equipe-uni h4:hover {
  color: #03330c;
}

.conteudo-card-texto-equipe {
  padding: 10px 0 0 0;
}

.conteudo-equipe-carrossel {
  text-align: center;
  padding: 0 0 50px 0;
}

.conteudo-numeros {
  background: #20bd3a;
  padding: 10px 0 30px 0;
  margin: 0 0 90px 0;
}

.conteudo-cards-numeros {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.conteudo-cards-numeros h3 {
  padding: 0 0 5px 0;
  font-family: 'Poppins', sans serif;
}

.conteudo-cards-numeros p {
  padding: 0 0 5px 0;
  font-family: 'Poppins', sans serif;
}

.conteudo-cards-numeros img {
  padding: 0 0 5px 0;
  width: 50px;
  height: 50px;
}

.conteudo-cards-uni {
  background: linear-gradient(68.15deg, #fdf6ef 16.62%, #e5e9e6 85.61%);
  box-shadow: -5px 2px 5px -7px #292c28;
  border-radius: 10px;
  padding: 80px 20px 80px 20px;
  width: 320px;
}

.conteudo-cards-uni span {
  color: #20bd3a;
}
/*
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
*/
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.active2 {
  background-color: rgb(54, 189, 54);
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



.conteudo-faq-texto-titulo-subtitulo {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.conteudo-faq-texto-titulo-subtitulo h1 {
  font-size: 30px;
}
.conteudo-faq-texto-lado h2 {
  font-family: 'Poppins', sans-serif;
}

.conteudo-faq-texto2 {
  background-color: #087a1b;
}

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: left;
  gap: 180px;
}
.accordion-item {
  background-color: rgb(54, 189, 54);
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  border-radius: 0.5rem;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #000, transparent) 1;
}

.conteudo-botao-faq {
  display: block;
  background-color: #0f130c;
  width: 100px;
  height: 30px;
  border: none;
  box-shadow: 4px 5px 4px rgba(19, 16, 16, 0.25);
  border-radius: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 15px;
  color: #fff;
  margin: 10px 0 0 0;
  cursor: pointer;
}

@media(max-width:767px) {
  html {
    font-size: 14px;
  }
}

.pag-conteudo-titulo-faq hr {
  text-align: center;
  left: 100%;
  width: 8%;
  height: 4px;
  border: 0px;
  border-top: 1px solid  #32A041;
  background-color:  #32A041;
  margin: 0 600px;
}

.pag-conteudo-titulo-faq {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 30px;
  color: #000000;
  text-align: center;
  margin: 250px 0 10px 0;
  padding: 0 190px;
}

.pag-conteudo-faq {
  text-align: justify;
  align-items: center;
}

.pag-img-comp-faq img{
  padding: 1% 0 1% 0;
}

.pag-img-faq {
  text-align: center;
  padding: 2% 0;
}

.pag-img-faq img {
  padding: 3% 0 1% 0;
}

.pag-conteudo-texto-faq {
  align-items: center;
  padding: 3% 20% 0 20%;
  margin: 0 0 5% 0;
}

.pag-conteudo-texto-faq h2 {
  font-family: 'Poppins', sans-serif;
  padding: 1% 1% 2%;
}

.pag-conteudo-texto-faq h3 {
  font-family: 'Nunito', sans-serif;
}

.pag-conteudo-texto-faq h4 {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-weight: bold;
}

.pag-conteudo-footer-faq {
  margin: 0;
  text-align: center;
  background-color: #fff;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #000000;
  padding: 20px 0 20px 0;
}

.pag-conteudo-footer-faq h2 {
  padding: 15px 0 0 0;
}



/* *****************************************************************************


*****************************************************************************

*****************************************************************************

*****************************************************************************

*****************************************************************************

*****************************************************************************

*****************************************************************************

*****************************************************************************

*****************************************************************************

***************************************************************************** */

.conteudo-subtitulo-experimentos-1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #000000;
  text-align: center;
  padding: 20px 0 35px 0;
  background-color:#20bd3a;
}

/*#line-ex{

  position: absolute;
  text-align: center;
  left: 42%;
  width: 16%;
  height: 3px;
  border: 0px;
  background-color: #000000;
}*/
.testando-hover{
  color: pink;
}
.testando-hover::hover{
  border: 1px  solid #000000;
}
.exp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(68.15deg, #20bd3a 16.62%, #20bd3a  85.61%);
  padding-bottom: 100px;
  /*padding-top: 100px;*/
}

.ex{
  background-color: #ffffff;
  border-radius: 6px;
  color: #000000;
  padding: 30px;
  width: 220px;
  overflow: hidden;
  transition: 0.6s;
  transform: translate(0);
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}
/*
.ex:hover{
} */
.ex p{
  margin: 0;
}

.titlev{
  font-family: 'Poppins', sans-serif;
  color: #20bd3a;
  font-size: 30px;
  text-align: center;
}
.titlev2{
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-size: 10;
  text-align: center;
  padding-top: 5px;
}
.titlev3{
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-size: 10;
  text-align: center;
}

.cont {
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;

}

.contact-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: 
  var(--bg-color);
}



.right-col {
  background: 
  var(--bg-color);
  width: 50vw;
  height: 100vh;
  padding: 5rem 3.5rem;
}

.cont /*h2, h3, label, button*/{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.description{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
/* .cont h2 {
  font-family: 'Poppins', sans-serif;
  color:3F444C;;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.5rem; 
  font-weight: 300;
} */

.cont p {
  color: var(--secondary-color);
  font-size: 0.9rem;
  width: 40vw;
  margin: 0.25rem 0;
}

.cont label {
  color: var(--secondary-color);;
  text-transform: uppercase;
  font-size: 0.625rem;
}

form {
  width: 31.25rem;
  position: relative;
  margin-top: 2rem;
  padding: 1rem 0;
}

input, textarea, label {
  width: 40vw;
  display: block;
}

.cont p, placeholder, input, textarea {
  font-family: 'Poppins', sans-serif;
}

input::placeholder, textarea::placeholder {
  color: var(--primary-color);
}

input, textarea {
  color: var(--primary-color);
  font-weight: 500;
  background: var(--bg-color);
  border: none;
  border-bottom: 1px solid ;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  outline: none;
}

textarea {
  resize: none;
}

.conteudo-botao-contato {
  text-transform: uppercase;
  font-weight: 300;
  background: var(--button-color);
  color: #fff;
  width: 10rem;
  height: 2.25rem;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;

}

input:hover, textarea:hover, button:hover {
  opacity: 0.5;
}

button:active {
  opacity: 0.8;
}

/* Toggle Switch */

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  width: 160px;
  position: absolute;
  top: 0.5rem;
  right: 0;
}



.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

/*.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 0.25rem;
  content: "";
  width: 26px;
  height: 26px;
  left: 0.25rem;
  position: absolute;
  transition: .4s;
}*/

input:checked + .slider {
  background-color: var(--button-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#error, #success-msg {
  width: 40vw;
  margin: 0.125rem 0;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  color: var(--secondary-color);
  }


  #success-msg {
  transition-delay: 3s;
  }

@media only screen and (max-width: 950px) {
  .logo {
    width: 8rem;  
  }
  .cont h1 {
    font-size: 1.75rem;
  }
  .cont p {
    font-size: 0.7rem;
  }
  input, textarea, button {
    font-size: 0.65rem;
  }
  .description {
    font-size: 0.3rem;
    margin-left: 0.4rem;
  }
  button {
    width: 7rem;
  }
  .theme-switch-wrapper {
    width: 120px;
  }
  .theme-switch {
  height: 28px;
  width: 50px;
}

.theme-switch input {
  display:none;
}

.slider:before {
  background-color: #fff;
  bottom: 0.25rem;
  content: "";
  width: 20px;
  height: 20px;
  left: 0.25rem;
  position: absolute;
  transition: .4s;
}
  input:checked + .slider:before {
  transform: translateX(16px);
}

.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}

}
.exp2 {
  
  background: linear-gradient(68.15deg, rgb(255, 255, 255) 16.62%rgb(255, 255, 255) 85.61%);
}
.loc{
  padding-left: 16%;
  margin-top: 25%;
  font-size: 30px;
  color: #FFF;
  font-family: 'Poppins', sans-serif;
}
.loc2{

  padding-left: 15.9%;
  padding-top: 5%;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  
}
.loc3{

  padding-left: 15.9%;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}
.cont4{
  padding-left: 15%;
  margin-top: 10%;
  font-size: 25px;
  color: #FFF;
  font-family: 'Poppins', sans-serif;
}
.icon{
  display: inline-block;
  font-size: 44px;
  animation: float 5s ease-in-out
  infinite ;
}
.insta{
  animation-delay: 1s;
}
.email{
  animation-delay: 2s;
}
.you{
  animation-delay: 3s;
}

@keyframes float {
  0%{
    transform: translate(0);
  }
  50%{
    transform: translateY(-15px);
    }
    100%{
      transform: translateY(0);
    }
}
.icon2{
  padding-top: 8%;
  padding-left: 22%;
}
#line {
  position: absolute;
  text-align: center;
  left: 1%;
  width: 100%;
  height: 3px;
  border: 0px;
  background-color: #000000;
}



.body-t{
  font-family: 'Poppins', sans-serif;
}



/* .conteudotes{
  display: flex;
  width: 350px;
  scroll-snap-type: x mandatory;
  scroll-padding: 25px;
  column-gap:20px;

}
.cardtes {
  flex: 0 0 100%;
  padding: 30px;
  scroll-snap-align: start;
  border-radius: 30px;
  margin-left: 19%;
  padding-bottom: 30%;
  background: linear-gradient(to bottom, #095a17 43%, #095a17 33%, rgb(235, 225, 225) 31%, rgb(235, 225, 225) 100%);

}
.ft{
  display: flex;

}
.tes{
  padding-top: 0px;
  display: block;
}
.textte{
  display: block;
}
.ftu{
 
  width: 10%;
  height: 0%;
}
.test2{

  text-indent: 0; */


  .conteudo-subtitulo-quipe-2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #000000;
  text-align: center;
  padding: 120px 0 0;
}

#line-tes{
  text-align: center;
  left: 100%;
  width: 15%;
  height: 4px;
  border: 0px;
  border-top: 1px solid #109727;
  background-color: #109727;
  margin: 0 715px;
}


  .teste5{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(68.15deg, rgb(255, 255, 255) 16.62%, rgb(255, 255, 255) 85.61%);
  padding-bottom: 40px;
  padding-top: 30px;
}
.test2 {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
padding-bottom: 50px;
padding-top: 80px;}

.test{
  background: linear-gradient(to bottom, #20bd3a  32%, #20bd3a  33%, rgb(235, 225, 225) 31%, rgb(235, 225, 225) 100%);
  border-radius: 6px;
  color: #000000;
  padding: 12px;
  width: 250px;
  overflow: hidden;
  transition: 0.6s;
  transform: translate(0);
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}
.ft{
  display: flex;
  align-items: center;
}
.ftu{
 
  width: 10%;
  height: 0%;
}
.texttt{
  margin-top: 18px;
}



@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.conteudo-footer {
  margin: 0;
  text-align: center;
  background-color: var(--bg-color);
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #000000;
  padding: 20px 0 20px 0;
}

.conteudo-footer h2 {
  padding: 15px 0 0 0;
}

.linha-footer {
  position: absolute;
  text-align: center;
  left: 26%;
  width: 48%;
  height: 3px;
  border: 0px;
  background-color: #000000;
}


