@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins:wght@200;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: #108f25;
}

.cabecalho-imagem {
  height: 45px;
  padding: 0 0 0 25px;
}

.cabecalho-menu {
  display: flex;
  gap: 50px;
  padding: 0 0 0 56px;
}

.cabecalho-menu-item {
  font-family: 'Nunito', sans-serif;
  margin-block: 2px;
  text-decoration: none;
  color: #FFF2E7;
  position: relative;

}

.cabecalho-menu-item::after{
  content: '';
  width: 100%;
  height: 1px;
  background-color:#FFF;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .25s ease;
}

.cabecalho-menu-item:hover::after {
  transform: scaleX(1);
}

.conteudo {
  margin-bottom: 20px;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 250px;
  padding-top: 30px;
  background: linear-gradient(68.15deg, #35a347 16.62%, #095a17 85.61%);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  margin-bottom: -10vw;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  }

.conteudo-principal-escrito-titulo {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #ffffff;
}

.conteudo-principal-escrito-subtitulo {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #fdf6ef;
}

.conteudo-principal-escrito-botao {
  background-color: #fffcf9;
  width: 280px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(19, 16, 16, 0.25);
  border-radius: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: #1a1a1a;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(65, 255, 75, 0.53);
  cursor: pointer;
}

.icon {
  display: flex;
  font-size: 44px;
  animation: float 5s ease-in-out infinite;
}

.conteudo-principal-imagem {
  height: 350px;
  animation-delay: 1s;
}

@keyframes float {
  0%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(-15px);
  }
  100%{
      transform: translateY(0);
  }
}

.conteudo-ifmaker {
  padding: 40px 0 40px 0;
  display: flex;
  justify-content: space-around;
}

.conteudo-titulo-ifmaker hr {
  text-align: center;
  left: 100%;
  width: 8%;
  height: 4px;
  border: 0px;
  border-top: 1px solid #109727;
  background-color: #109727;
  margin: 0 600px;
}

.conteudo-titulo-ifmaker {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 30px;
  color: #000000;
  text-align: center;
  margin: 250px 0 10px 0;
  padding: 0 190px;
}

.conteudo-titulo-ifmaker span:hover {
  color: #19ad32;
}

.conteudo-texto-ifmaker {
  font-family: 'Nunito', sans-serif;
  text-align: justify;
  display: flex;
  padding: 20px 25px 0 25px;
  margin: 20px 0 0 200px;
  background: linear-gradient(68.15deg, #19ad32 16.62%, #22af3a 85.61%);
  border-radius: 20px;
  box-shadow: -5px 7px 15px -7px #292c28;
}

.conteudo-texto-ifmaker h5 {
  padding: 0 4px;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 508px;
}

.conteudo-titulo-img-ifmaker {
  text-align: right;
  font-family: 'Poppins', sans-serif;
  padding: -43px 50px 0 0;
  height: 30px;
}

.conteudo-titulo-img-ifmaker h1 {
  margin: 10 0 0 00px;
}

.conteudo-img-ifmaker {
  display: flex;
  flex-direction: row;
}

.conteudo-img-ifmaker-lab {
  flex-direction: column;
  gap: 38px;
  padding: 0 0 0 100px;
}

.conteudo-img-ifmaker-lab img {
  height: 150px;
  width: 200px;
  cursor: pointer;
  border-left: #109727 solid 5px;
  padding: 0 0 0 8px;
  border-radius: 2px;
}

.conteudo-img-ifmaker-exp {
  flex-direction: column;
  gap: 32px;
  padding: 0 100px 0;
}

.conteudo-img-ifmaker-exp img {
  height: 150px;
  width: 200px;
  cursor: pointer;
  border-left: #109727 solid 5px;
  padding: 0 0 0 8px;
  border-radius: 2px;
}

.modal {
  font-family: 'Poppins', sans-serif;
  z-index:1;
  position: fixed;
  top:0;
  left:0;
  padding:0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0.25s ease-in-out , opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.modal-content {
  padding: 16px 24px;
  width: 1050px;
  border-radius: 0.5rem;
}

.modal-content img {
  width: 900px;
  height: 600px;
  border-radius: 5px;
}

.close-button {
 float: right;
 width: 24px;
 line-height: 24px;
 margin: -20px 0 0 0;
 text-align: center;
 cursor: pointer;
 border-radius: 0.25rem;
 background-color: lightgray;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
}

.conteudo-equipe {
  margin: 130px 0 80px 0;
}

.conteudo-equipe hr {
  text-align: center;
  left: 800%;
  width: 20%;
  height: 4px;
  border: 0px;
  border-top: 1px solid #27aa3d;
  background-color: #27aa3d;
  margin: 0 670px;
}

.conteudo-titulo-quipe-1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #000000;
  text-align: center;
}

.conteudo-titulo-quipe-2  {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: #19ad32;
    text-align: center;
}

.conteudo-subtitulo-quipe-1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 25px;
  color: #000000;
  text-align: center;
  padding: 20px 0 0 0;
}

.conteudo-subtitulo-quipe-1 span:hover {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 25px;
  color: #19ad32;
  text-align: center;
  padding: 20px 0 0 0;
}

.conteudo-card-equipe {
  font-family: 'Nunito', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 100px;
  text-align: center;
  margin: 0 0 80px 0;
}

.conteudo-card-equipe2 {
  font-family: 'Nunito', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 100px;
  text-align: center;
  margin: 0 0 80px 0;
}

.conteudo-card-equipe-uni {
  flex-direction: column;
  background: linear-gradient(68.15deg, #0fa728 16.62%, #12a32a 85.61%);
  box-shadow: -5px 5px 10px -7px #292c28;
  padding: 40px 20px 40px 20px;
  width: 320px;
  font-weight: 800;
}

.conteudo-card-equipe-uni img {
  padding: 0 0 10px 0;
}

.conteudo-card-equipe-uni h4:hover {
  color: #20bd3a;
}

.conteudo-card-texto-equipe {
  padding: 10px 0 0 0;
}

.conteudo-equipe-carrossel {
  text-align: center;
  padding: 0 0 50px 0;
}

.conteudo-numeros {
  background: #20bd3a;
  padding: 10px 0 30px 0;
}

.conteudo-cards-numeros {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.conteudo-cards-numeros h3 {
  padding: 0 0 5px 0;
  font-family: 'Poppins', sans serif;
}

.conteudo-cards-numeros p {
  padding: 0 0 5px 0;
  font-family: 'Poppins', sans serif;
}

.conteudo-cards-numeros img {
  padding: 0 0 5px 0;
  width: 50px;
  height: 50px;
}

.conteudo-cards-uni {
  background: linear-gradient(68.15deg, #fdf6ef 16.62%, #e5e9e6 85.61%);
  box-shadow: -5px 2px 5px -7px #292c28;
  border-radius: 10px;
  padding: 80px 20px 80px 20px;
  width: 320px;
}

.conteudo-cards-uni span {
  color: #20bd3a;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/* *****************************************************************************


*****************************************************************************

*****************************************************************************

*****************************************************************************

*****************************************************************************

*****************************************************************************

*****************************************************************************

*****************************************************************************

*****************************************************************************

***************************************************************************** */

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
